<h4>Edit User</h4>
<hr>
<div class="panel panel-default">
    <div class="panel-heading">User Details</div>
    <div class="panel-body">
        <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-4">
                    <label for="name">User name</label>
                    <input type="text" class="form-control" name="UserName" [disabled]="true" [(ngModel)]="UserModel.UserName" maxlength="50"
                        #refUserName="ngModel" id="UserName" required>
                    <div *ngIf="!refUserName.valid  && (refUserName.dirty || refUserName.touched)" class="alert alert-danger">
                        <div [hidden]="!refUserName.errors.required">
                            UserName is required
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="name">Full name</label>
                    <input type="text" class="form-control" name="FullName" maxlength="50" [(ngModel)]="UserModel.FullName" 
                        #refFullName="ngModel" id="FullName" required>
                    <div *ngIf="!refFullName.valid  && (refFullName.dirty || refFullName.touched)" class="alert alert-danger">
                        <div [hidden]="!refFullName.errors.required">
                            FullName is required
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="EmailId">Email</label>
                    <input type="text" class="form-control" maxlength="50" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="EmailId" [(ngModel)]="UserModel.EmailId" 
                        #refEmailId="ngModel" id="EmailId" required>
                    <div *ngIf="!refEmailId.valid  && (refEmailId.dirty || refEmailId.touched)" class="alert alert-danger">
                        <div [hidden]="!refEmailId.errors.required">
                            Email is required
                        </div>
                        <div  *ngIf="refEmailId.errors && refEmailId.errors.pattern">
                            Email is invalid
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="name">Contact</label>
                    <input type="text" class="form-control" name="Contactno" [(ngModel)]="UserModel.Contactno"
                        maxlength="50" #refContactno="ngModel" id="Contactno" required>
                    <div *ngIf="!refContactno.valid  && (refContactno.dirty || refContactno.touched)" class="alert alert-danger">
                        <div [hidden]="!refContactno.errors.required">
                            Contact number is required
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="name">Password</label>
                    <input type="password" class="form-control" name="Password" [(ngModel)]="UserModel.Password"
                        maxlength="50" #refPassword="ngModel" id="Password" required>
                    <div *ngIf="!refPassword.valid  && (refPassword.dirty || refPassword.touched)" class="alert alert-danger">
                        <div [hidden]="!refPassword.errors.required">
                            Password is required
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                  <input type="checkbox" name="Status" [(ngModel)]="UserModel.Status" maxlength="50" #refStatus="ngModel"
                         id="Status" required>
                  <label for="Status">Status</label>
                  <div *ngIf="!refStatus.valid  && (refStatus.dirty || refStatus.touched)" class="alert alert-danger">
                    <div [hidden]="!refStatus.errors.required">
                      Status is required
                    </div>
                  </div>
                </div>
                <div class="col-12 btn-group panel-footer">
                    <button type="submit" style="margin-top: 10px" [disabled]="!f.form.valid" class="btn btn-success">Save</button>
                    <a style="margin-left: 10px; margin-top:7px;" class="btn btn-info" [routerLink]="['/Admin/AllUsers']"> Back </a>
                </div>
            </div>
        </form>
    </div>
</div>
